@using MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Areas.Employee.Models.TimeOffVms;
@model TimeOffDetailVm;
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">İzinler</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="EmployeTimeOff" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-controller="EmployeTimeOff" asp-action="Index">İzinler</a></li>
                <li class="breadcrumb-item active">İzin Detayları</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="card col-md-8">
        <div class="card-body px-3">

            <dl class="row">

                @* <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartTime.ToString("dd.MM.yyyy"))
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndTime.ToString("dd.MM.yyyy"))
                </dd> *@

                <dt class="col-sm-2">
                    Start Time
                </dt>
                <dd class="col-sm-10">
                    @Model.StartTime.ToString("dd.MM.yyyy")
                </dd>

                <dt class="col-sm-2">
                    End Time
                </dt>
                <dd class="col-sm-10">
                    @Model.EndTime.ToString("dd.MM.yyyy")
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reason)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reason)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumberOfDays)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumberOfDays)
                </dd>

            </dl>
            <div>
                <a class="btn btn-primary" asp-controller="EmployeTimeOff" asp-action="EditTimeOff" asp-route-id="@Model.Id">Düzenle</a>

                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Geri Dön</a>

            </div>
        </div>
    </div>
</div>
