@using MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Areas.Employee.Models.TimeOffVms;
@using MVC_ONION_PROJECT.DOMAIN.ENUMS;
@model List<TimeOffListVm>;

@{
    Layout = "_Layout";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">İzinler</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active">İzinler</li>
            </ul>
        </div>
        <div class="col-auto float-end ms-auto">
            <a class="btn add-btn" asp-controller="EmployeTimeOff" asp-action="AddTimeOff"><i class="fa-solid fa-plus"></i> İzin Talebi Oluştur</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="table">
            <table class="table table-striped custom-table leave-employee-table mb-0" id="myDataTable">
                <thead>
                    <tr>
                        <th>İzin Tipi</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>İzinli Gün Sayısı</th>
                        <th class="text-center">Güncel Durumu</th>
                        @* <th>Approved by</th> *@
                        <th class="text-end">Eylemler</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        var sortedModel = Model.OrderByDescending(item => item.StartTime).ToList();
                    
                    @foreach (var item in sortedModel)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.StartTime.Date.ToShortDateString()</td>
                        <td>@item.EndTime.Date.ToShortDateString()</td>
                        <td>@item.NumberOfDays</td>
                            <td class="text-center">
                                @if (item.ReturnStatus == ReturnStatus.Pending)
                                {
                                    <span class="badge bg-inverse-info">Onayda</span>
                                }
                                @if (item.ReturnStatus == ReturnStatus.Assigned)
                                {
                                    <span class="badge bg-inverse-success">Atandı</span>
                                }
                                @if (item.ReturnStatus == ReturnStatus.Rejected)
                                {
                                    <span class="badge bg-inverse-danger">İptal Edildi</span>
                                }
                                @if (item.ReturnStatus == ReturnStatus.Returned)
                                {
                                    <span class="badge bg-inverse-info">Teslim Alındı</span>
                                }
                            </td>
                        @* <td class="text-center">
                            <div class="action-label">
                                <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                        <i class="fa-regular fa-circle-dot"></i> @item.ReturnStatus.ToString()
                                </a>
                            </div>
                        </td> *@
                        @* <td>
                            <h2 class="table-avatar">
                                <a href="profile.html" class="avatar avatar-xs"><img src="assets/img/profiles/avatar-09.jpg" alt="User Image"></a>
                                <a href="#"></a>
                            </h2>
                        </td> *@
                        <td class="text-end">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!--Edit Butonu-->
                                    <a class="dropdown-item" asp-controller="EmployeTimeOff" asp-action="EditTimeOff" asp-route-id="@item.Id"><i class="fa-solid fa-pencil m-r-5"></i> Düzenle</a>
                                    <!--Details Butonu-->
                                    <a class="dropdown-item" asp-controller="EmployeTimeOff" asp-action="DetailsTimeOff" asp-route-id="@item.Id"><i class="fa-solid fa-pencil m-r-5"></i>Detaylar</a>
                                    <!--Delete Butonu-->
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_TimeOff_@item.Id"><i class="fa-regular fa-trash-can m-r-5"></i>Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                        <!-- Delete Modal -->
                        <div class="modal custom-modal fade" id="delete_TimeOff_@item.Id" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="form-header">
                                            <h3>İzin Sil</h3>
                                            <p>Bu izin talebini silmek istediğinize emin misiniz?</p>
                                        </div>
                                        <div class="modal-btn delete-action">
                                            <div class="row">
                                                <div class="offset-2 col-3">
                                                    <!-- Delete Button with Form Submission -->
                                                    <form method="post" asp-controller="EmployeTimeOff" asp-action="Delete" asp-route-id="@item.Id">
                                                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-trash-can m-r-5"> </i> Sil</button>
                                                    </form>
                                                </div>
                                                <div class="offset-2 col-3">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i>  İptal</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
