@using MVC_ONION_PROJECT.APPLICATION.Services.EnumHelpers;
@using MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Areas.OrganizationAdmin.Models.TimeOffVms;
@inject IEnumHelperService enumhelper;
@model List<TimeOffListVm>;
@if (Model!=null)
{
    

@foreach (var item in Model)
{
    string encodedData = " ";
    if (item?.Employee?.Photo != null)
    {
        encodedData = Convert.ToBase64String(item.Employee.Photo);
    }

    <tr>
        <td>
            <h2 class="table-avatar">
                <a href="#" class="avatar">
                    <img src="data:image/jpeg;base64,@(encodedData)" alt="User Image">
                </a>
            </h2>
        </td>
        <td>@(item.Employee.Name + " " + item.Employee.Surname)</td>
        <td>@item.TimeOffTypeName</td>
        <td>@item.CreatedDate.Date.ToShortDateString()</td>
        <td>@item.StartTime.Date.ToShortDateString()</td>
        <td>@item.EndTime.Date.ToShortDateString()</td>
        <td>@item.TimeSpanDay</td>
        <td class="text-center">
            <div class="dropdown action-label">
                <a class="btn btn-white btn-sm btn-rounded " href="#"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="@item.ReturnStatus.ToString()"></i> @(enumhelper.GetDisplayName(item.ReturnStatus))
                </a>

            </div>
        </td>

    </tr>
}
}
