@using MVC_ONION_PROJECT.PRESENTATION.IDENTITY.Vms;
@model ResetPasswordViewModel;
@{
    Layout = "_Layout";
}
<body class="account-page">

    <div class="main-wrapper">
        <div class="account-content">

            <div class="account-logo">
                <a href="admin-dashboard.html"><img src="/assets/img/InSight_logo.png" alt="Dreamguy's Technologies"></a>
            </div>
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Şifre Değiştir</h3>
                    <form form method="post" asp-controller="Account" asp-action="ResetPassword">

                        <div class="input-block mb-3">
                            <input asp-for="@Model.Token" value="@Model.Token" type="hidden" class="form-control" />
                            <input asp-for="@Model.Id" type="hidden" value="@Model.Id" class="form-control" />
                            <label  class="control-label">Yeni Şifre </label>
                            <div class="position-relative">
                                <input asp-for="@Model.NewPassword" type="password" class="form-control" id="password">
                                <span class="fa-solid fa-eye-slash" id="toggle-password" onclick="togglePasswordVisibility()"></span>
                                <span class="text-danger"></span>
                            </div>
                            <span asp-validation-for="@Model.NewPassword" >
                            </span>
                        </div>

                        <div class="input-block mb-3">
                            <label class="control-label">Şifre Tekrar</label>
                            <input asp-for="@Model.CorfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="@Model.CorfirmPassword" class="fa-solid fa-eye-slash text-danger" id="toggle-password">
                            </span>
                        </div>
                        
                        <div class="submit-section mb-4">
                            <button type="submit" class="btn btn-primary submit-btn">Şifreyi Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="assets/js/jquery-3.7.0.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/jquery.slimscroll.min.js"></script>

    <script src="assets/js/select2.min.js"></script>

    <script src="assets/js/app.js"></script>
</body>